version: '3.8'
services:
  quote:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app:cached
    command: ash -c "rm -f tmp/pids/server.pid && bin/dev"
    user: $UID:$GID
  db:
    image: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
